<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <main class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
        <div class="justify-content-center">
          <h1>Информация о водителе</h1>
        </div>

        <div class="row bg-light rounded">
          <h2 th:text="'ID : ' + ${model.driver.id}">ID водителя</h2>
          <h4 th:text="'Фамилия : ' + ${model.driver.surname}">Фамилия водителя</h4>
          <h4 th:text="'Имя: ' + ${model.driver.name}">Имя водителя</h4>
          <h4 th:text="'Отчество: ' + ${model.driver.patronymic}">Отчество водителя</h4>
          <h4 th:text="'Дата рождения: ' + ${model.driver.birthday}">Дата рождения</h4>
          <h4 th:text="'Паспорт: ' + ${model.driver.passport}">Паспорт</h4>
          <h4 th:text="'Водительские права: ' + ${model.driver.driverLicense}">Водительские права</h4>
          <h4 th:text="'Стаж: ' + ${model.driver.dateStartDriverLicense}">Стаж</h4>
          <h4 th:text="'Категория: ' + ${model.driver.category}">Категория</h4>
          </div>

      </main>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>