<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>

<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="jumbotron rounded col-md-8 align-self-center pt-5">
        <h2 class="text-center text-dark mt-5">Водители</h2>

          <div class="mt-4 d-flex justify-content-center">
              <a class="btn btn-success mb-3" th:href="@{/driver/create}">Добавить нового водителя</a>
          </div>

        <div th:each="driver : ${model.drivers}"
             class="d-flex flex-column bg-text mb-3 p-3 border rounded">

          <h2 th:text="${driver.surname}+' '+${driver.name}+' '+${driver.patronymic}">ID водителя</h2>




          <div class="mt-2">
            <a class="btn btn-secondary"
               th:href="@{/driver/{id}(id=${driver.id})}">Подробнее</a>
            <a class="btn btn-primary"
               th:href="@{/driver/{id}/edit(id=${driver.id})}">Редактировать</a>
            <a class="btn btn-danger"
               th:href="@{/driver/{id}/delete(id=${driver.id})}"
               onclick="return confirm('Вы уверены, что хотите удалить этого водителя?');">Удалить</a>
          </div>


        </div>




      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>