<!DOCTYPE html>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head"/>

<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron rounded col-md-8 align-self-center pt-5">
                <h2 class="text-center text-dark mt-5">Рейсы</h2>


                <div th:each="trip : ${model.trips}"
                     class="d-flex flex-column bg-text mb-3 p-3 border rounded">

                    <h2 th:text="'Рейс: ' + ${trip.id}">ID рейса</h2>
                    <h4 th:text="'Тур: '+ ${model.tour.nameTour}">ID тура</h4>
                    <h4 th:text="'Автобус: ' +${model.bus.mark}+ ' ' +${model.bus.numberBus} ">ID: автобуса</h4>
                    <h4 th:text="'Водитель: ' +${model.driver.surname}+ ' '+${model.driver.name}+ ' '+${model.driver.patronymic}">ID: водителя</h4>
                    <h4 th:text="'Дата отправления: ' + ${trip.startDate}">Дата отправления</h4>
                    <h4 th:text="'Дата прибытия: ' + ${trip.endDate}">Дата прибытия</h4>
                    <h4 th:text="'Статус рейса: ' + ${trip.tripStatus.getValue()}">Статус рейса</h4>





                    <div class="mt-2">
                        <a class="btn btn-secondary"
                           th:href="@{/trip/{id}(id=${trip.id})}">Подробнее</a>
                        <a class="btn btn-primary" sec:authorize="hasRole('ADMIN')"
                           th:href="@{/trip/{id}/edit(id=${trip.id})}">Редактировать</a>
                        <a class="btn btn-primary"
                           th:href="@{/trip/{id}/passengers(id=${trip.id})}">Список пассажиров</a>

                    </div>

                </div>



            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer"/>
</body>
</html>